.button {
        display: inline-block;
        text-align: center;
        font-weight: 600;
        background-color: #0AE;
        cursor: pointer;
        color: #FFF;
        border-radius: 10vh;
        height: 10vh;
        line-height: 10vh;
        width: 50vh;
        font-size: 3vh;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.wrapper {
	/*position: fixed;*/
	top: 30vh;
	text-align: center;
	width: 100%;
}

.results {
    cursor: default;
    width: 100%;
    height: 50vh;
    text-align: center;
    color: #222;
    font-size: 5vh;
    font-weight: 400;
    position: relative;
}

.results span {
    margin: 0 auto;
    padding: 0 5%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.result_list {
    float: left;
    width: 30%;
}

.result_list ul {
    list-style: none;
    margin-left: 0;
    text-align:left
}

.round_btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 13px 10px 13px;
  text-decoration: none;
}

.round_btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


