.button {
    width: 200px;
    height: 200px;
    line-height: 50px;
    border: 2px solid #7297b1;
    border-radius: 50%;
    color: #fdfdfd;
    text-decoration: none;
    background: #0069a7;
    box-shadow: 0 0 3px #676262;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Josefin Slab', serif;
    padding: 30px 40px 40px 40px;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.results-wrapper {
    text-align: center;
}

.results {
   height: 200px;
   line-height: 250px;
 }

.results span {
   line-height: 200%;
   font-size: 400%;
   font-family: 'Josefin Slab', serif;
   font-weight: bold;
 }

.result_list {
    float: left;
    width: 30%;
}

.result_list ul {
    list-style: none;
    margin-left: 0;
    text-align:left
}

.round_btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 13px 10px 13px;
  text-decoration: none;
}

.round_btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


